<!-- Validation failure messages -->
<% if @matter.errors.any? %>
  <% @matter.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Matter #<%= @matter.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_matter/<%= @matter.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for matter_type -->
      <div class="form-group">
        <label for="matter_type" class="control-label">
          Matter type
        </label>

        <input type="text" id="matter_type" name="matter_type" placeholder="Matter type" class="form-control" value="<%= @matter.matter_type %>">
      </div>

      <!-- Label and input for matter_name -->
      <div class="form-group">
        <label for="matter_name" class="control-label">
          Matter name
        </label>

        <input type="text" id="matter_name" name="matter_name" placeholder="Matter name" class="form-control" value="<%= @matter.matter_name %>">
      </div>

      <!-- Label and input for matter_number -->
      <div class="form-group">
        <label for="matter_number" class="control-label">
          Matter number
        </label>

        <input type="text" id="matter_number" name="matter_number" placeholder="Matter number" class="form-control" value="<%= @matter.matter_number %>">
      </div>

      <!-- Label and input for matter_state -->
      <div class="form-group">
        <label for="matter_state" class="control-label">
          Matter state
        </label>

        <input type="text" id="matter_state" name="matter_state" placeholder="Matter state" class="form-control" value="<%= @matter.matter_state %>">
      </div>

      <!-- Label and input for matter_county -->
      <div class="form-group">
        <label for="matter_county" class="control-label">
          Matter county
        </label>

        <input type="text" id="matter_county" name="matter_county" placeholder="Matter county" class="form-control" value="<%= @matter.matter_county %>">
      </div>

      <button class="btn btn-warning">
        Update Matter
      </button>
      or
      <a href="/matters/<%= @matter.id %>">Cancel</a>
    </form>
  </div>
</div>
