<div class="page-header">
  <h1>
    Matters
    <a href="/matters/new" class="btn btn-lg btn-success">New Matter</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "matters_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :matter_type_cont, "Matter type contains" %>
    <%= f.text_field :matter_type_cont, :class => "form-control", :placeholder => "Matter type contains" %>
  </div>

<div class="form-group">
    <%= f.label :matter_county_cont, "Matter county contains" %>
    <%= f.text_field :matter_county_cont, :class => "form-control", :placeholder => "Matter county contains" %>
  </div>

<div class="form-group">
    <%= f.label :matter_state_cont, "Matter state contains" %>
    <%= f.text_field :matter_state_cont, :class => "form-control", :placeholder => "Matter state contains" %>
  </div>

<div class="form-group">
    <%= f.label :matter_number_cont, "Matter number contains" %>
    <%= f.text_field :matter_number_cont, :class => "form-control", :placeholder => "Matter number contains" %>
  </div>

<div class="form-group">
    <%= f.label :matter_name_cont, "Matter name contains" %>
    <%= f.text_field :matter_name_cont, :class => "form-control", :placeholder => "Matter name contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/matters" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#matters_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Matter type</th>
        <th>Matter name</th>
        <th>Matter number</th>
        <th>Matter state</th>
        <th>Matter county</th>
        <th>Actions</th>
      </tr>

      <% @matters.each do |matter| %>
      <tr>
        <td><%= matter.matter_type %></td>
        <td><%= matter.matter_name %></td>
        <td><%= matter.matter_number %></td>
        <td><%= matter.matter_state %></td>
        <td><%= matter.matter_county %></td>
        <td>
          <a href="/matters/<%= matter.id %>" class="btn btn-primary">Show</a>
          <a href="/matters/<%= matter.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_matter/<%= matter.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @matters, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
