<div class="page-header">
  <h3>Matter #<%= @matter.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Matter type</dt>
      <dd><%= @matter.matter_type %></dd>

      <dt>Matter name</dt>
      <dd><%= @matter.matter_name %></dd>

      <dt>Matter number</dt>
      <dd><%= @matter.matter_number %></dd>

      <dt>User</dt>
      <dd>
        <% if @matter.user.present? %>
          <a href="/users/<%= @matter.user_id %>">
            <%= @matter.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>State</dt>
      <dd><%= @matter.state %></dd>

      <dt>County</dt>
      <dd><%= @matter.county %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/matters" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @matter.user %>
        <a href="/matters/<%= @matter.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_matter/<%= @matter.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Matter has many assets -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Assets
      </li>

      <% @matter.assets.each do |asset| %>
        <li class="list-group-item">
          <a href="/assets/<%= asset.id %>">
            <%= asset.matter_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/assets/<%= asset.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/assets/<%= asset.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_asset/<%= asset.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_asset" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for matter_id -->
      <input type="hidden" name="matter_id" value="<%= @matter.id %>">

      <!-- Label and input for beg_value -->
      <div class="form-group">
        <label for="beg_value" class="control-label">
          Beg value
        </label>

        <input type="text" id="beg_value" name="beg_value" placeholder="Beg value" class="form-control" value="">
      </div>

      <!-- Label and input for end_value -->
      <div class="form-group">
        <label for="end_value" class="control-label">
          End value
        </label>

        <input type="text" id="end_value" name="end_value" placeholder="End value" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="">
      </div>

      <!-- Label and input for beg_shares -->
      <div class="form-group">
        <label for="beg_shares" class="control-label">
          Beg shares
        </label>

        <input type="text" id="beg_shares" name="beg_shares" placeholder="Beg shares" class="form-control" value="">
      </div>

      <!-- Label and input for end_shares -->
      <div class="form-group">
        <label for="end_shares" class="control-label">
          End shares
        </label>

        <input type="text" id="end_shares" name="end_shares" placeholder="End shares" class="form-control" value="">
      </div>

      <!-- Label and input for beg_date -->
      <div class="form-group">
        <label for="beg_date" class="control-label">
          Beg date
        </label>

        <input type="text" id="beg_date" name="beg_date" placeholder="Beg date" class="form-control" value="">
      </div>

      <!-- Label and input for asset_type -->
      <div class="form-group">
        <label for="asset_type" class="control-label">
          Asset type
        </label>

        <input type="text" id="asset_type" name="asset_type" placeholder="Asset type" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Asset
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Matter has many fiduciaries -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Fiduciaries
      </li>

      <% @matter.fiduciaries.each do |fiduciary| %>
        <li class="list-group-item">
          <a href="/fiduciaries/<%= fiduciary.id %>">
            <%= fiduciary.first_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/fiduciaries/<%= fiduciary.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/fiduciaries/<%= fiduciary.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_fiduciary/<%= fiduciary.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_fiduciary" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for first_name -->
      <div class="form-group">
        <label for="first_name" class="control-label">
          First name
        </label>

        <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="">
      </div>

      <!-- Label and input for last_name -->
      <div class="form-group">
        <label for="last_name" class="control-label">
          Last name
        </label>

        <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="">
      </div>

      <!-- Label and input for matter_id -->
      <input type="hidden" name="matter_id" value="<%= @matter.id %>">

      <button class="btn btn-block btn-success">
        Create Fiduciary
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Matter has many beneficiaries -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Beneficiaries
      </li>

      <% @matter.beneficiaries.each do |beneficiary| %>
        <li class="list-group-item">
          <a href="/beneficiaries/<%= beneficiary.id %>">
            <%= beneficiary.first_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/beneficiaries/<%= beneficiary.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/beneficiaries/<%= beneficiary.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_beneficiary/<%= beneficiary.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_beneficiary" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for first_name -->
      <div class="form-group">
        <label for="first_name" class="control-label">
          First name
        </label>

        <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="">
      </div>

      <!-- Label and input for last_name -->
      <div class="form-group">
        <label for="last_name" class="control-label">
          Last name
        </label>

        <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="">
      </div>

      <!-- Label and input for matter_id -->
      <input type="hidden" name="matter_id" value="<%= @matter.id %>">

      <button class="btn btn-block btn-success">
        Create Beneficiary
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
