<!-- Validation failure messages -->
<% if @asset.errors.any? %>
  <% @asset.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Asset #<%= @asset.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_asset/<%= @asset.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for matter_id -->
      <div class="form-group">
        <label for="matter_id" class="control-label">
          Matter
        </label>

        <%= select_tag(:matter_id, options_from_collection_for_select(Matter.all, :id, :matter_type, @asset.matter_id), :class => "form-control") %>
      </div>

      <!-- Label and input for amount -->
      <div class="form-group">
        <label for="amount" class="control-label">
          Amount
        </label>

        <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" value="<%= @asset.amount %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @asset.description %>">
      </div>

      <!-- Label and input for shares -->
      <div class="form-group">
        <label for="shares" class="control-label">
          Shares
        </label>

        <input type="text" id="shares" name="shares" placeholder="Shares" class="form-control" value="<%= @asset.shares %>">
      </div>

      <!-- Label and input for acq_date -->
      <div class="form-group">
        <label for="acq_date" class="control-label">
          Acq date
        </label>

        <input type="text" id="acq_date" name="acq_date" placeholder="Acq date" class="form-control" value="<%= @asset.acq_date %>">
      </div>

      <!-- Label and input for asset_type -->
      <div class="form-group">
        <label for="asset_type" class="control-label">
          Asset type
        </label>

        <input type="text" id="asset_type" name="asset_type" placeholder="Asset type" class="form-control" value="<%= @asset.asset_type %>">
      </div>

      <!-- Label and input for ticker -->
      <div class="form-group">
        <label for="ticker" class="control-label">
          Ticker
        </label>

        <input type="text" id="ticker" name="ticker" placeholder="Ticker" class="form-control" value="<%= @asset.ticker %>">
      </div>

      <!-- Label and input for account_number -->
      <div class="form-group">
        <label for="account_number" class="control-label">
          Account number
        </label>

        <input type="text" id="account_number" name="account_number" placeholder="Account number" class="form-control" value="<%= @asset.account_number %>">
      </div>

      <!-- Label and input for institution -->
      <div class="form-group">
        <label for="institution" class="control-label">
          Institution
        </label>

        <input type="text" id="institution" name="institution" placeholder="Institution" class="form-control" value="<%= @asset.institution %>">
      </div>

      <!-- Label and input for account_type -->
      <div class="form-group">
        <label for="account_type" class="control-label">
          Account type
        </label>

        <input type="text" id="account_type" name="account_type" placeholder="Account type" class="form-control" value="<%= @asset.account_type %>">
      </div>

      <button class="btn btn-warning">
        Update Asset
      </button>
      or
      <a href="/assets/<%= @asset.id %>">Cancel</a>
    </form>
  </div>
</div>
