<div class="page-header">
  <h3>Asset #<%= @asset.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Matter</dt>
      <dd>
        <% if @asset.matter.present? %>
          <a href="/matters/<%= @asset.matter_id %>">
            <%= @asset.matter.matter_type %>
          </a>
        <% end %>
      </dd>

      <dt>Beg value</dt>
      <dd><%= @asset.beg_value %></dd>

      <dt>End value</dt>
      <dd><%= @asset.end_value %></dd>

      <dt>Description</dt>
      <dd><%= @asset.description %></dd>

      <dt>Beg shares</dt>
      <dd><%= @asset.beg_shares %></dd>

      <dt>End shares</dt>
      <dd><%= @asset.end_shares %></dd>

      <dt>Beg date</dt>
      <dd><%= @asset.beg_date %></dd>

      <dt>Asset type</dt>
      <dd><%= @asset.asset_type %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/assets" class="btn btn-primary">
        Back
      </a>
      <a href="/assets/<%= @asset.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_asset/<%= @asset.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
