<!-- Validation failure messages -->
<% if @transaction.errors.any? %>
  <% @transaction.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Transaction</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_transaction" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for asset_id -->
      <div class="form-group">
        <label for="asset_id" class="control-label">
          Asset
        </label>

        <%= select_tag(:asset_id, options_from_collection_for_select(Asset.all, :id, :matter_id, @transaction.asset_id), :class => "form-control") %>
      </div>

      <!-- Label and input for shares -->
      <div class="form-group">
        <label for="shares" class="control-label">
          Shares
        </label>

        <input type="text" id="shares" name="shares" placeholder="Shares" class="form-control" value="<%= @transaction.shares %>">
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= @transaction.date %>">
      </div>

      <!-- Label and input for amount -->
      <div class="form-group">
        <label for="amount" class="control-label">
          Amount
        </label>

        <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" value="<%= @transaction.amount %>">
      </div>

      <!-- Label and input for category -->
      <div class="form-group">
        <label for="category" class="control-label">
          Category
        </label>

        <textarea id="category" name="category" placeholder="Category" class="form-control" rows="3"><%= @transaction.category %></textarea>
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @transaction.description %></textarea>
      </div>

      <!-- Label and input for payee -->
      <div class="form-group">
        <label for="payee" class="control-label">
          Payee
        </label>

        <textarea id="payee" name="payee" placeholder="Payee" class="form-control" rows="3"><%= @transaction.payee %></textarea>
      </div>

      <!-- Label and input for distribution -->
      <div class="checkbox">
        <label for="distribution">
          <input type="checkbox" id="distribution" name="distribution" value="1" <%= "checked" if @transaction.distribution %>>
          Distribution
        </label>
      </div>

      <button class="btn btn-success">
        Create Transaction
      </button>
      or
      <a href="/transactions">Cancel</a>
    </form>
  </div>
</div>
